{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Categories{% endblock %}

{% block header %}
<header>
    <div class="relative">
      <!-- Header image and overlay -->
      <div class="absolute inset-0">
        {% if HEADER_COVER %}
        <img class="h-full w-full object-cover" src="{{ SITEURL }}/{{ HEADER_COVER }}" alt="" aria-hidden="true" />
        {% else %}
        <img class="h-full w-full object-cover" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/home-bg.jpg" alt="" aria-hidden="true" />
        {% endif %}
        {% if HEADER_COLOR %}
        <div
          class="h-full absolute inset-0 {{ HEADER_COLOR }} mix-blend-multiply"
          aria-hidden="true"
        ></div>
        {% endif%}
      </div>
      <!-- End Header image and overlay -->
      <!-- Nav menu -->
      <div class="absolute inset-0">
        {% include "nav_menu.html" %}
      </div>
      <!-- End Nav menu -->
      <div
        class="relative mx-auto max-w-xl lg:max-w-4xl py-16 px-4 sm:py-32 sm:px-6 lg:px-8 text-center">
        <h1
          class="text-5xl md:text-7xl lg:text-7xl font-extrabold tracking-normal text-white align-middle">
          {{ SITENAME }}
        </h1>
      </div>
    </div>
  </header>
{% endblock header %}

{% block content %}
    <ul>
    {% for category, articles in categories %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
    {% endfor %}
    </ul>
{% endblock content %}
