@tailwind base;
@tailwind components;
@tailwind utilities;

/* THIS STYLES CONTENT WITHIN ARTICLE AND PAGE BLOCKS */
/* @layer base {

    article.content {
        @apply space-y-6;
    }

    article.content>h1 {
        @apply text-4xl;
        @apply font-extrabold;

    }

    article.content>h2 {
        @apply text-3xl;
        @apply font-bold;
    }

    article.content>h3 {
        @apply text-2xl;
        @apply font-bold;
    }

    article.content>h4 {
        @apply text-xl;
        @apply font-semibold;
    }

    article.content>h5,
    h6 {
        @apply text-xl;
        @apply font-medium;
    }


    article.content>p>a {
        @apply hover:text-indigo-500;
        @apply underline;
        @apply duration-300;
    }

    article.content>p>img {
        @apply mx-auto;
        @apply rounded-sm;
    }

} */


/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 3px;
    background: #FFF;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}